<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="../themes/${site.theme}/master.html" />
<head>
    <title >${site.title} - ${site.subtitle}</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>

</head>
<body>
	<div id="new_post" >
		<h3>New Page</h3>
		<form id="new_page-form" method="post" action="create_page">
	  
		  <p><input type="text" id="name" name="name" value="${name}" /><label for="title"><small>Page Name</small></label></p>
		 <p><input type="text" id="title" name="title" value="" /><label for="title"><small>Page Title</small></label></p>
		  <p><textarea name="body" id="body" cols="40" rows="30"></textarea></p>
		  <p><input type="submit" value="Submit"  /></p>
		</form>
    </div>
	<div id="textile_help">
		<h3>Textile Shortcuts</h3>	<p>Formatting:<br />
		&#95;<em>emphasis</em>&#95;<br />
		&#42;<strong>strong</strong>&#42;<br />
		&#63;&#63;<cite>citation</cite>&#63;&#63;<br />
		&#45;<del>deleted text</del>&#45;<br />
		&#43;<ins>inserted text</ins>&#43;<br />
		&#94;<sup>superscript</sup>&#94;<br />
		&#64;<code>code</code>&#64;</p>
		h1. Large Header <br/>
        h2. Med Header <br/>
		

			<p>Hyperlink:<br />
		&#34;link text&#34;:http://link.url</p>

			<p>Image:<br />
		&#33;http://image.url&#33;</p>

			<p>To define an acronym:<br />
		<span class="caps">ABC</span>&#40;Always Be Closing&#41;</p>

			<p>To define a bulleted list:<br />
		<pre>
		* item one
		* item two
		** item two a
		** item two b
		* item three</pre></p>

		    <p>To define an ordered list:<br />
		<pre>
		# item one
		# item two
		# item three</pre></p>

	 </div>	

		
		
</body>
</html>
