<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="../themes/${site.theme}/master.html" />
<head>
    <title >${site.title} - ${site.subtitle}</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>

</head>
<body>
	<div id="new_user" >
	    <h4><a href="/${site.name}/users">Existing Users</a></h4>
		<h3>New user</h3>
		<form id="new_user-form" method="post" action="create">
		  <p><label for="title"><small>User Name</small></label><br/><input type="text" id="user_name" name="user_name" value="" /></p>
		  <p><label for="user"><small>Email</small></label><br/><input type="text" id="email_address" name="email_address" value="" /></p>
	      <p><label for="user"><small>Display Name</small></label><br/><input type="text" id="display_name" name="display_name" value="" /></p>
	      <p><label for="user"><small>Password</small></label><br/><input type="password" id="password" name="password" value="" /></p>
	      <p>
	          <label for="user"><small>Group</small></label><br/>
	          <select id="groups" name="groups" multiple="true" py:for="group in groups">
                <option value ="${group.id}">${group.display_name}</option>
              </select> 
	      </p>
		  <p><input type="submit" value="Submit"  /></p>
		</form>
    </div>
	
</body>
</html>
